  <div>
    <%= input_form('text', 'first_name') %>
  </div>
  <div>
    <%= input_form('text', 'last_name') %>
  </div>
  <div>
    <%= input_form('text', 'email') %>
  </div>
  <div>
    <%= input_form('date', 'dob', id: 'dob') %>
  </div>
  <div>
    <%= input_form('password', 'password') %>
  </div>
  <div>
    <%= input_form('password', 'confirm_password') %>
  </div>